version: '3.9'

services:
  app:
    build:
      context: ./apps/core
      dockerfile: Dockerfile
    container_name: medication-management-api
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=development
    depends_on:
      - db
      - redis
    volumes:
      - ./apps/core:/usr/src/app

  db:
    image: postgres:13
    container_name: medication-management-db
    restart: always
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./database/init/create-multiple-postgres-databases.sh:/docker-entrypoint-initdb.d/create-multiple-postgres-databases.sh

  redis:
    image: redis:7-alpine
    container_name: medication-redis
    restart: always
    env_file:
      - .env
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data

volumes:
  pgdata:
  redis_data:
